.login {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 380px;
  padding: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, .61);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.login__header {
  text-align: center;
  font-size: 22px;
}

.login form {
  padding: 25px;
}

.login button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  line-height: 1.4;
  margin: auto;
}

.login button:hover,
.login button:focus {
  color: #fff;
  background-color: #8378db;
}

.login button[disabled] {
  background: #666;
  cursor: not-allowed;
}
