.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #616161;
  padding: 20px;
}

.chat-header__name {
  font-size: 20px;
}

.chat-header__left {
  display: flex;
  align-items: center;
}

.chat-header__users,
.chat-header__messages,
.chat-header__time {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  justify-content: space-between;
}

.chat-header__users,
.chat-header__messages {
  margin-left: 35px;
}
