.modal-wrapper {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 350px;
  padding: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 0 8px 2px rgb(255 255 255 / 61%);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.modal__header {
  text-align: center;
  font-size: 22px;
}

.modal__content {
  height: 225px;
  padding: 25px;
}

.modal textarea {
  background: #212121;
  border-radius: 12px;
  resize: none;
  width: 100%;
  height: 170px;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #fff;
  flex: 1 1;
}

.modal textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.modal textarea::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #555;
}

.modal__buttons {
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal__button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  line-height: 1.4;
}

.modal__button--cancel {
  margin-right: 20px;
  border: 2px solid #212121;
  background: none;
}

.modal__button:hover {
  color: #fff;
  background-color: #8378db;
}

.modal__button--cancel:hover {
  box-shadow: 0 0 4px 0 rgb(255, 255, 255, .5);
  border-color: #8378db;
  background: none;
}
