.message {
  display: flex;
  align-items: flex-end;
  max-width: 70%;
  margin-bottom: 16px;
}

.message--own {
  align-self: flex-end;
}

.message--users {
  align-self: flex-start;
}

.message__body {
  display: flex;
}

.message__avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-end;
  margin-right: 20px;
}

.message__content {
  margin-bottom: 8px;
  padding: 0px 20px;
  border-radius: 10px;
  width: 100%;

  border-radius: 12px 12px 12px 0;
  background-color: #212121;
  padding: 8px;
  position: relative;
}

.message--own .message__content {
  border-radius: 12px 12px 0 12px;
  background-color: #8378db;
  padding: 8px;
  position: relative;
}

.message__text {
  line-height: 1.5;
  font-size: 16px;
}

.message__time {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  color: rgba(104, 108, 114, .75);
  margin-top: 4px;
}

.message--own .message__time {
  color: rgba(255, 255, 255, .6);
}

.message--users .message__time {
  color: #eeeeee;
}

.message__controls {
  margin-left: 60px;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 15px;
  color: #c6c6c6;
}

.message--own .message__controls {
  justify-content: flex-end;
}

.message__like {
  color: #545454;
  cursor: pointer;
  transition: color .3s ease-in-out;
  padding: 8px;
}

.message__like:hover {
  color: #7c7c7c;
}

.message__like.message__like--active {
  color: #f00;
}

.message__delete {
  cursor: pointer;
  color: #545454;
  padding: 2px 4px;
  font-size: 14px;
  transition: color .3s ease-in-out;
}

.message__delete:hover {
  color: #aaa;
}