.messages {
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.messages::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: transparent;
}

.messages:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

hr {
  position: relative;
  width: 100%;
  height: 5px;
}

.messages__date-line {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin: 30px 0px;
  margin-bottom: 50px;
  text-align: center;
}

.messages__date-line span {
  position: relative;
  top: -10px;
  text-align: center;
  background: #0f0f0f;
  padding: 0 20px;
}
