.user-page {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 700px;
  padding: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 0 8px 2px rgb(255, 255 ,255, .61);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.user-page__header {
  text-align: center;
  font-size: 22px;
}

.user-page form {
  padding: 25px;
}

.user-page__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.user-page__button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  line-height: 1.4;
  flex: 1;
}

.user-page__button:focus,
.user-page__button:hover {
  color: #fff;
  background-color: #8378db;
}

.user-page__button.user-page__button--cancel {
  margin-right: 20px;
  border: 2px solid #212121;
  background: none;
}

.user-page__button.user-page__button--cancel:focus,
.user-page__button.user-page__button--cancel:hover {
  box-shadow: 0 0 4px 0 rgb(255, 255, 255, .5);
  border-color: #8378db;
  background: none;
}

.user-page__button[disabled] {
  background: #666;
  cursor: not-allowed;
}
