.user-item {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.user-item:nth-child(2n - 1) {
  background: #444;
}

.user-item__item {
  text-align: center;
  width: 25%;
  height: 100%;
  margin: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-item__item i {
  color: #9f9f9f;
}

.user-item__item i:hover {
  color: #6f6f6f;
  cursor: pointer;
}

.user-item__item img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-item__icon {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.user-item__icon:hover {
  color: #8378db;
}
