.header {
  background: #212121;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__logout {
  cursor: pointer;
  padding: 4px 8px;
  color: #fff;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  line-height: 1.4;
  border: 2px solid #fff;
  background: none;
}

.header__logout:hover {
  box-shadow: 0 0 4px 0 rgb(255, 255, 255, .5);
  border-color: #8378db;
  background: none;
}

.header__avatar {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.header__links {
  margin-left: 25px;
}

.header__links a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-right: 25px;
}

.header__links a:hover {
  text-decoration: underline;
}
