.message-input {
  display: flex;
  padding: 20px;
  align-items: center;
  border-top: 3px solid #212121;
}

.message-input form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.message-input textarea {
  background: #212121;
  border-radius: 12px;
  resize: none;
  width: 100%;
  height: 85px;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #fff;
  flex: 1 1;
}

.message-input textarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.message-input textarea::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #555;
}

.message-input__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.message-input__buttons button {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-color: #212121;
  color: #8378db;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.message-input__buttons button:focus,
.message-input__buttons button:hover {
  background-color: #8378db;
  color: #fff;
}
