.form__element {
  position: relative;
  margin-bottom: 15px;
}

.form__label {
  margin-bottom: 5px;
  display: block;
}

.form__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  line-height: 1.5;
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: 0;
}

.form__input.form__input--error {
  box-shadow: 0 0 8px 2px rgba(255, 0, 0, .9);
}

.form__input__error {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0px;
}
