.users-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.users-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.users-container::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #555;
}
