.users-page {
  position: relative;
  display: grid;
  grid-template-rows: 100px auto 125px;
  width: 100vw;
  max-width: 1200px;
  max-height: 1200px;
  margin: auto;
  overflow: hidden;
  height: calc(100vh - 80px);
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
}

.users-page__button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  line-height: 1.4;
  margin: auto;
}

.users-page__button:hover {
  color: #fff;
  background-color: #8378db;
}
