.chat {
  position: relative;
  display: grid;
  grid-template-rows: 85px auto 125px;
  width: 100vw;
  max-width: 1200px;
  max-height: 1200px;
  margin: auto;
  height: calc(100vh - 80px);
  border-left: 3px solid #212121;
  border-right: 3px solid #212121;
}
