.success-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .3);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.success-modal-container--show {
  display: flex;
}

.success-modal-wrapper {
  padding: 20px;
  background-color: #0f0f0f;
  box-shadow: 0 4px 8px 2px rgba(16, 16, 16, .61);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.success-modal__header {
  text-align: center;
  color: #00ff00;
}

.success-modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-modal__message {
  padding: 20px;
  line-height: 1.5;
}

.success-modal__button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  transition: all .3s ease-in-out;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  line-height: 1.4;
}

.success-modal__button:focus,
.success-modal__button:hover {
  color: #fff;
  background-color: #8378db;
}
